<h1>Admin Dashboard</h1>

<%# Display a count of how many products are in the database %>
<section class="jumbotron">
  <p>There are <%= @product_total %> products in your shop.</p>
  <%= link_to 'All Products', [:admin, :products], class: 'btn btn-primary' %>
</section>

<%# Display a count of how many categories are in the database %>
<section class="jumbotron">
  <p>There are <%= @category_total %> categories in your shop. </p>
  <%= link_to 'All Categories', [:admin, :categories], class: 'btn btn-primary' %>
</section>
